<div class="clientsTableDiv">
  <table class="clientsTable">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th class="mobilNot">Email</th>
        <th class="mobilNot">Tel</th>
      </tr>
    </th>
    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td>
            <%= link_to(client_path(client.id)) do %>
              <i class="far fa-eye fa-xs"></i> <%= client.first_name %>
            <% end %>
          </td>
          <td><%= client.first_name %></td>
          <td class="mobilNot"><%= client.email %></td>
          <td class="mobilNot"><%= client.tel %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>