<div class="ClientEditForm">
  <%= form_for :editclient, url: "update", method: "patch", onsubmit: "editClient(event, this)" do |f| %>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="client_id" value="<%= @client.id %>">
    <table>
      <tr>
        <td>
          <%= f.label :first_name %>
        </td>
        <td>
          <%= f.text_field :first_name, value: @client.first_name %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :last_name %>
        </td>
        <td>
          <%= f.text_field :last_name, value: @client.last_name %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :address %>
        </td>
        <td>
          <%= f.text_field :address, value: @client.address %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :zip %>
        </td>
        <td>
          <%= f.number_field :zip, value: @client.zip %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :city %>
        </td>
        <td>
          <%= f.text_field :city, value: @client.city %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :state %>
        </td>
        <td>
          <%= f.text_field :state, value: @client.state %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :tel %>
        </td>
        <td>
          <%= f.number_field :tel, value: @client.tel %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :email %>
        </td>
        <td>
          <%= f.email_field :email, value: @client.email %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :comments %>
        </td>
        <td>
          <%= f.text_area :comments, value: @client.comments, size: '20x7' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :offer %>
        </td>
        <td>
          <%= f.number_field :offer, value: @client.offer %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :price %>
        </td>
        <td>
          <%= f.number_field :price, value: @client.price %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :status %>
        </td>
        <td>
          <%= f.select :status, ['New', 'Waiting for answer', 'On Hold', 'Working on'], value: @client.status %>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <%= f.submit 'Save' %><%= f.submit 'Cancel', onclick: 'cancelClientEdit(event)' %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
