<h1>Clients</h1>
<%= link_to 'Add New Client', '#', onclick: 'addNewClientForm(event)', id: 'newClientFormLink' %>
<div class="clientForm"></div>
  <div id="clientResponse">
    <p>The new Client was created</p>
    <p><%= link_to 'Clients', clients_path %></p>
    <p><%= link_to 'Home', root_path %></p>
  </div>
<div class="clientsTable">
  <table>
    <thead>
      <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td>Tel</td>
        <td>Address</td>
        <td>Status</td>
      </tr>
    </thead>
    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= link_to client.first_name, client_path(client.id) %></td>
          <td><%= client.first_name %></td>
          <td><%= client.email %></td>
          <td><%= client.tel %></td>
          <td><%= client.address %></td>
          <td><%= client.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>