<h1 class="clientsTitle">Clients</h1>
<div class="newClientLinkDiv">
  <%= link_to 'Add New Client', '#', onclick: 'addNewClientForm(event)', id: 'newClientFormLink' %>
</div>
<div class="clientForm"></div>
  <div id="clientResponse">
    <p>The new Client was created</p>
    <p><%= link_to 'Clients', clients_path %></p>
    <p><%= link_to 'Home', root_path %></p>
  </div>
<div class="clientsTableDiv">
  <table class="clientsTable">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Tel</th>
        <th>Address</th>
        <th>Status</th>
      </tr>
    </th>
    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= link_to client.first_name, client_path(client.id) %></td>
          <td><%= client.first_name %></td>
          <td><%= client.email %></td>
          <td><%= client.tel %></td>
          <td><%= client.address %></td>
          <td><%= client.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>