<%= form_for(@client, html: { onsubmit: 'addClient(event, this)' }) do |f| %>
  <div class="container">
    <div>
      <div><%= f.label :first_name %></div>
      <div><%= f.text_field :first_name %></div>
    </div>
    <div>
      <div><%= f.label :last_name %></div>
      <div><%= f.text_field :last_name %></div>
    </div>
    <div>
      <div><%= f.label :address %></div>
      <div><%= f.text_field :address %></div>
    </div>
    <div>
      <div><%= f.label :zip %></div>
      <div><%= f.text_field :zip %></div>
    </div>
    <div>
      <div><%= f.label :city %></div>
      <div><%= f.text_field :city %></div>
    </div>
    <div>
      <div><%= f.label :state %></div>
      <div><%= f.text_field :state %></div>
    </div>
    <div>
      <div><%= f.label :tel %></div>
      <div><%= f.text_field :tel %></div>
    </div>
    <div>
      <div><%= f.label :email %></div>
      <div><%= f.email_field :email %></div>
    </div>
    <div>
      <div><%= f.submit 'Save', id: 'clientSubmit' %></div>
    </div>
  </div>
<% end %>
