<%= form_for(@client, html: { onsubmit: 'addClient(event, this)' }, data: { no_turbolink: true, remote: true }) do |f| %>
  <div>
    <div>
      <%= f.text_field :first_name, placeholder: 'First Name' %>
      <%= f.text_field :last_name, placeholder: 'Last Name' %>
    </div>
    <div>
      <%= f.text_field :address, placeholder: 'Street' %>
    </div>
    <div>
      <%= f.text_field :city, placeholder: 'City' %>
      <%= f.text_field :state, placeholder: 'State' %>
      <%= f.number_field :zip, placeholder: 'Zip' %>
    </div>
    <div>
      <%= f.number_field :tel, placeholder: 'Tel' %> <%= f.email_field :email, placeholder: 'Email' %>
    </div>
    <div>
      <div><%= f.submit 'Get Your Offer', id: 'clientSubmit' %></div>
    </div>
  </div>
<% end %>
