<div class="showClient">
  <table class="clientDetailsTable">
    <tr>
      <td class="fieldLabel">Name:</td>
      <td class="fieldValue"><%= @client.first_name %> <%= @client.last_name %></td>
    </tr>
    <tr>
      <td class="fieldLabel">Address:</td>
      <td class="fieldValue"><%= @client.address %></td>
    </tr>
    <tr>
      <td class="fieldLabel">City:</td>
      <td class="fieldValue"><%= @client.zip %> <%= @client.city %> <%= @client.state %></td>
    </tr>
    <tr>
      <td class="fieldLabel">Tel:</td>
      <td class="fieldValue"><%= @client.tel %></td>
    </tr>
    <tr>
      <td class="fieldLabel">Email:</td>
      <td class="fieldValue"><%= @client.email %></td>
    </tr>
    <tr>
      <td class="fieldLabel">Client is active:</td>
      <td class="fieldValue"><%= @client.active ? 'Yes' : 'No' %></td>
    </tr>
    <tr>
      <td class="fieldLabel">Client status:</td>
      <td class="fieldValue"><%= @client.status %></td>
    </tr>
    <tr>
      <td class="fieldLabel" valign="top">Comments:</td>
      <td class="fieldValue"><%= @client.comments %></td>
    </tr>
    <tr>
      <td class="fieldLabel">Offer:</td>
      <td class="fieldValue"><%= @client.offer %></td>
    </tr>
    <tr>
      <td class="fieldLabel">Price:</td>
      <td class="fieldValue"><%= @client.price %></td>
    </tr>
  </table>
</div>
<div class="editClient"></div>
<%= link_to('#', onclick: "editClient(event, #{@client.id})", id: 'editClientLink', class: 'linksDesign') do %>
  <span class="linksDesign"><i class="fas fa-user-edit"></i> Edit Client</span>
<% end %>
<%= link_to(client_path(@client), class: 'linksDesign', id: 'deleteClientLink', method: 'delete', data: { confirm: 'Are you sure?' }) do %><br>
  <span class='linksDesign backLink'><i class="far fa-trash-alt fa-xs" style="margin-top=1px;"></i> Delete Client</span>
<% end %><br>
<%= link_to 'Back', clients_path, class: 'linksDesign backLink' %>