<div class="showClient">
  <div><%= @client.first_name %> <%= @client.last_name %></div>
  <div><%= @client.address %></div>
  <div><%= @client.zip %> <%= @client.city %> <%= @client.state %></div>
  <div><%= @client.tel %></div>
  <div><%= @client.email %></div>
  <div><%= @client.active ? 'Active' : 'Not Active' %></div>
  <div><%= @client.status %></div>
  <div>Comments: <%= @client.comments %></div>
  <div>Offer: <%= @client.offer %></div>
  <div>Price: <%= @client.price %></div>
</div>
<div class="editClient"></div>
<div><%= link_to 'Edit Client', '#', onclick: "editClient(event, #{@client.id})", id: "editClientLink" %></div>