<h1 class="clientsTitle"><%= @client.first_name %> <%= @client.last_name %></h1>
<div class="clientImages">
  <% if !@error_message.nil? %>
    <div class="errorMessage"><%= @error_message %></div>
  <% end %>
  <% if !@success_message.nil? %>
    <div class="successMessage"><%= @success_message %></div>
  <% end %>
  <div class="ClientEditForm">
    <%= form_for :client_images, url: client_path(@client), method: "patch" do |f| %>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <table>
        <tr>
          <td>
            <%= f.label :uplodad_images %>
          </td>
          <td>
            <%= f.file_field :images, multiple: true %>
          </td>
        </tr>
        <tr>
          <td><%= f.submit 'upload' %></td>
        </tr>
      </table>
    <% end %>
  </div>
  <div class="ClientEditForm">
    <% @client.images.each do |image| %>
      <div>
        <%= link_to delete_image_path(image, client_id: @client.id) do %>
          <span><i class="far fa-trash-alt fa-xs"></i></span>
        <% end %>
        <%= link_to url_for(image) do %>
          <%= image_tag image.variant(resize_to_limit: [100, nil]) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
