<h1>Dear Laura</h1>
<p>You got a new Client</p>
<br>
<p>The Client completed the form on <%= DateTime.now.to_date %></p>
<br>
<p>Client Details: </p>
<p>First Name: <%= @client.first_name %></p>
<p>Last Name: <%= @client.last_name %></p>
<p>Address: <%= @client.address %></p>
<p>City: <%= @client.zip %> <%= @client.city %> <%= @client.state %></p>
<p>Tel: <%= @client.tel %></p>
<p>Email: <%= @client.email %></p>
<br>
<br>
<p>Thank you, and have a nice day!</p>