<!DOCTYPE html>
<html>
  <head>
    <title>Let's Buy Your House Now</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navBar">
      <% if current_user && current_user.active && current_user.admin %>
        <div><%= link_to 'SignOut', destroy_user_session_path, method: :delete %></div>
        <div><%= link_to 'Home', root_path %></div>
        <div><%= link_to 'Clients', clients_path %></div>
      <% end %>
    </div>
    <%= yield %>
    <div class="footer">
      <% if current_user %>
        <%= link_to 'SignOut', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path %> |
        <%= link_to 'Sign Up', new_user_registration_path %>
      <% end %>
    </div>
  </body>
</html>
