<!DOCTYPE html>
<html>
  <head>
    <title>Create For All Investments</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navBar">
      <% if current_user && current_user.active && current_user.admin %>
        <div><%= link_to 'SignOut', destroy_user_session_path, method: :delete %></div>
        <div><%= link_to 'Clients', clients_path %></div>
        <div><%= link_to 'Resources', resources_path %></div>
        <div><%= link_to 'Clicks', page_view_results_path %></div>
      <% end %>
    </div>
    <div class='clientHome'>
      <%= yield %>
    </div>
  </body>
</html>